Say "Hello, World!" With Python

In [1]:
print("hello, World!")

hello, World!

if-else
Task
Given an integer, , perform the following conditional actions:

If  is odd, print Weird
If  is even and in the inclusive range of  to , print Not Weird
If  is even and in the inclusive range of  to , print Weird
If  is even and greater than , print Not Weird

In [19]:

if __name__ == '__main__':
    n = int(input().strip())
    
    if n % 2 != 0:
        print("Weird")
    else:
        if n >= 2 and n <= 5:
            print("Not Weird")
        elif n >= 6 and n <= 20:
            print("Weird")
        else:
            print("Not Weird")

 5

Weird

Task

The provided code stub reads two integers from STDIN,  and . Add code to print three lines where:
The first line contains the sum of the two numbers.
The second line contains the difference of the two numbers (first - second).
The third line contains the product of th

In [18]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    
    print(a + b)
    print(a - b)
    print(a * b)

 3
 8

11
-5
24

Task
The provided code stub reads two integers,  and , from STDIN.

Add logic to print two lines. The first line should contain the result of integer division,  // . The second line should contain the result of float division,  / .

No rounding or formatting is necessary.

In [7]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    
    print(a // b) 
    print(a / b)

 33
 11

3
3.0

Task
The provided code stub reads an integer n , from STDIN. For all non-negative integers i<n , print i2 .

In [9]:
if __name__ == '__main__':
    n = int(input())
    
    for i in range(n):
        print(i * i)

 2

0
1

An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:

The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years.

Task

In [14]:

def is_leap(year):
    leap = False
    
    if (year % 4 == 0):
        if (year % 100 == 0):
            if (year % 400 == 0):
                leap = True
            else:
                leap = False
        else:
            leap = True
    else:
        leap = False
        
    return leap

year = int(input())

 2013

The included code stub will read an integer, , from STDIN.

Without using any string methods, try to print the following:
123..n
Note that "" represents the consecutive values in between.

In [17]:
if __name__ == '__main__':
    n = int(input())
    
    for i in range(1, n + 1):
        print(i, end="")

 4

1234